* {
  font-family: 'Roboto', sans-serif;
}

body h1 {

  color: #012030;
  font-weight: 900;



}

body h3 {
  color: #255fa2;
}

/*mapa*/
.contenedor_map {
  background-color: rgb(242, 255, 233);
  width: 100%;
  margin: auto;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}

.contenedor_map h3 {

  text-align: center;
  padding-top: 5%;
  font-size: 35px;
  font-weight: bold;
}

.contenedor_map path {
  fill: antiquewhite;
  stroke: rgb(8, 8, 8);
  stroke-width: 0.5px;
}

.contenedor_map :hover {
  fill: #9fe285;

}

#img_ecosistema {
  border: 2px dotted #62a847;
  border-radius: 15px;
  width: 80%;
  height: 50%;

}

#eco_section {
  margin-top: 10%;
  background-color: #90d176;
  border-top: 10px solid rgba(150, 223, 14, 0.342);
}

/* Estilo para la barra de desplazamiento en navegadores webkit */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo */
}

/* Estilo para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #45c4b0; /* Color del pulgar */
  border-radius: 3px; /* Bordes redondeados */
}